# Ignore node_modules anywhere inside subfolders
**/node_modules

# Ignore Next.js build outputs inside subfolders
**/.next
**/out
**/build

# Ignore environment files inside any subfolder
**/.env*

**/.DS_Store